In [1]:
from ksif import Portfolio

c:\python\venv\notebook\lib\site-packages\ksif\core\frame.py:23: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import MultiIndex

In [2]:
pf = Portfolio()

Downloading 2020-09-25_company from web...
2020-09-25_company is saved as data/2020-09-25_company.pck.

In [6]:
pf

,code,code02,firmname,mdate,date,size,e_p,b_p,s_p,gp_p,...,fin_score_24,fin_score_24_rank,truston_universe,whole_universe,qvi_universe,lag1_me,prco,prch,prcl,prcc
0,A000020,A000020_0,동화약품,2002-04-30,2002-04-30,17.615261,0.139536,3.002092,2.733069,1.097341,...,NaN,0.448649,1,1,1,55584.0,1917.1718,1936.3434,1514.5657,1533.7374
1,A000020,A000020_0,동화약품,2002-05-31,2002-05-31,17.610258,0.155571,3.027336,3.016777,1.358462,...,NaN,0.450164,1,1,1,44690.0,1581.6666,1667.9395,1495.3939,1526.0687
2,A000020,A000020_0,동화약품,2002-06-30,2002-06-28,17.516838,0.170806,3.323783,3.312190,1.491488,...,NaN,0.462541,1,1,1,44467.0,1491.5596,1579.7495,1313.2626,1389.9495
3,A000020,A000020_0,동화약품,2002-07-31,2002-07-31,17.544043,0.166221,3.234576,3.223293,1.451457,...,NaN,0.437080,1,1,1,40501.0,1389.9495,1474.3050,1307.5111,1428.2930
4,A000020,A000020_0,동화약품,2002-08-31,2002-08-30,17.541350,0.175137,3.272965,3.277360,1.496588,...,NaN,0.450096,1,1,1,41618.0,1437.8788,1460.8849,1303.6768,1424.4586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355276,A950160,A950160_0,코오롱티슈진,2020-07-31,2020-07-31,20.009000,-0.091953,0.180539,0.006821,0.000424,...,NaN,0.000000,0,0,0,489552.0,9200.0000,10100.0000,9020.0000,9540.0000
355277,A950160,A950160_0,코오롱티슈진,2020-08-31,2020-08-31,20.009000,-0.087202,0.160088,0.006959,0.000026,...,NaN,0.000000,0,0,0,489552.0,9200.0000,10100.0000,9020.0000,9540.0000
355278,A950160,A950160_0,코오롱티슈진,2020-09-30,2020-09-25,20.009000,-0.087202,0.160088,0.006959,0.000026,...,NaN,0.000000,0,0,0,489552.0,9200.0000,10100.0000,9020.0000,9540.0000
355279,A950190,A950190_0,미투젠,2020-08-31,2020-08-31,19.938644,0.071835,0.075031,0.213083,0.163238,...,NaN,0.000000,0,0,0,NaN,33493.5300,36650.0000,26650.0000,35400.0000
355280,A950190,A950190_0,미투젠,2020-09-30,2020-09-25,19.675148,0.093491,0.097650,0.277322,0.212450,...,NaN,0.000000,0,0,0,456292.0,34250.0000,35750.0000,26900.0000,27200.0000